<%= form_for(@contact) do |f| %>
  <% if @contact.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@contact.errors.count, "error") %> prohibited this contact from being saved:</h2>

      <ul>
      <% @contact.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="form-group">
    <label class="label-control">Arrival Date</label>
      <div class="booking-form">
        <label class="collapse input">
          <%= f.date_field :arrival, :id => 'arrival-date', :class => 'input-control border-black' %>
        </label>
      </div>
  </div>
  <div class="form-group">
    <label class="label-control">Departure Date</label>
      <div class="booking-form">
        <label class="collapse input">
          <%= f.date_field :departure, :id => 'departure-date', :class => 'input-control border-black' %>
        </label>
      </div>
  </div>
  <div class="form-group select">
    <label class="label-control">Activity</label>
      <div class="input-group">
        <label class="collapse">
          <%= f.select(:activity, ['Nightclub', 'Day Pool', 'Both']) %>
        </label>
      </div>
  </div>

  <div class="form-group">
    <label class="label-control">Name</label>
      <div class="input-group">
        <label class="collapse">
          <%= f.text_field :name, :class => 'input-control' %>
        </label>
      </div>
  </div>
  <div class="form-group select">
    <label class="label-control">Phone</label>
      <div class="input-group">
        <label class="collapse">
          <%= f.text_field :phone, :class => 'input-control' %>
        </label>
      </div>
  </div>
  <div class="form-group select">
    <label class="label-control">Email</label>
      <div class="input-group">
        <label class="collapse">
          <%= f.text_field :email, :class => 'input-control' %>
        </label>
      </div>
  </div>
  <!--div class="field">
    <%= f.label :requests %><br>
    <%= f.text_field :requests %>
  </div-->
  <div class="form-group last">
    <label class="label-control"></label>
    <%= f.submit 'Request Info', :class => 'btn btn-large btn-darkbrown' %>
  </div>
<% end %>
