<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @contact.name %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @contact.phone %>
</p>

<p>
  <strong>Arrival:</strong>
  <%= @contact.arrival %>
</p>

<p>
  <strong>Departure:</strong>
  <%= @contact.departure %>
</p>

<p>
  <strong>Activity:</strong>
  <%= @contact.activity %>
</p>

<p>
  <strong>Requests:</strong>
  <%= @contact.requests %>
</p>

<%= link_to 'Edit', edit_contact_path(@contact) %> |
<%= link_to 'Back', contacts_path %>
