<!DOCTYPE html>
<html>
<head>
  <title>YourVIPHost - Las Vegas VIP Host, Table Pool and Nightclub Reservations - Book Online</title>
    <meta charset="UTF-8">
	<meta name="format-detection" content="telephone=no">
	<!--  Viewport setting -->
	<meta name="viewport" content="width=device-width, initial-scale = 1.0, maximum-scale=1.0, user-scalable=no" />

	<!--  Font -->
	<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600' rel='stylesheet' type='text/css'>
	<%= stylesheet_link_tag 'font' %>
	
	<!-- Jquery UI CSS   -->
	<%= stylesheet_link_tag 'jquery-ui-1.10.3.custom' %>

	<!-- Main CSS  -->
	<%= stylesheet_link_tag 'style' %>


	<!-- Responsive CSS  -->
	<%= stylesheet_link_tag 'responsive' %>
	<%= stylesheet_link_tag 'responsive-menu' %>
	<%= javascript_include_tag "application" %>


	<!-- Fix ie9  -->
	<!--[if IE 9]>
	<link rel="stylesheet" type="text/css" href="css/ie9.css">
	<![endif]-->
  <%= csrf_meta_tags %>
</head>
<body>
	<!-- PRELOADER -->
	<!--div id="preloader">
		<span class="loader" data-loading-text="loading">
		</span>
	</div>
	<!-- END / PRELOADER -->
	<div class="md-hotel">
		<div id="mp-pusher" class="mp-pusher">
			<!-- Header -->
			<header class="md-header">
				<div class="container clearfix">
					<div class="grid_12">


						<!-- Logo -->
						<h1 class="md-logo">
							<a href="index.html">
								<%= image_tag 'logo.png' %>
							</a>
						</h1>
						


						<!-- Menu -->
						<nav id="main-nav" class="nav-collapse">
							<ul id="main-menu" class="md-menu">
								<li><a href="index.html">Home</a></li>
								<!--li><a href="accomodation.html">Accomodation</a></li>
								<li class="have-submenu"><a href="#">Pages</a>
									<div class="sub-menu">
										<ul class="sub-menu-inner">
											<li><a href="blog.html">Blog</a></li>
											<li><a href="testimonial.html">Testimonials</a></li>
											<li><a href="shortcode.html">Shortcode</a></li>
											<li><a href="typography.html">Typography</a></li>
											<li><a href="booking-cart.html">Booking Cart</a></li>
											<li><a href="checkout.html">CheckOut</a></li>
											<li><a href="check-available.html">Check Available</a></li>
										</ul>
									</div>
								</li>
								<li><a href="new-deal.html">news &amp; deals</a></li>
								<li><a href="world-of-flawles.html">world of flawles</a></li-->
								<li><a href="contact.html">contact</a></li>
							</ul>

							
						</nav>


						<!-- Language Bar -->
						<!--ul class="language-bar">
							<li><a href="#"><img src="images/english.png" alt="english"></a></li>
							<li><a href="#"><img src="images/croatian.png" alt="croatian"></a></li>
							<li><a href="#"><img src="images/german.png" alt="german"></a></li>
							<li><a href="#"><img src="images/slovenian.png" alt="slovenian"></a></li>
							<li><a href="#"><img src="images/czech.png" alt="czech"></a></li>
							<li><a href="#"><img src="images/french.png" alt="french"></a></li>
						</ul-->

						
						<!-- Icon Responsvie Menu -->
						<a id="sys_btn_toogle_menu" class="btn-toogle-res-menu" href="#alternate-menu"></a>


					</div>
				</div>
			</header><!-- /.md-header -->

			<!-- Menu Responsive -->
			<nav id="mp-menu" class="mp-menu alternate-menu mp-overlap right-side">
	            <div class="mp-level">
	                <h2>Menu</h2>
	                <ul>
	                	<li>
	                    	<a href="index.html">Home</a>
	                    </li>
	                    <!--li>
	                    	<a href="accomodation.html">Accomodation</a>
	                    </li>
	                    <li class="has-sub">
	                        <a href="#">Pages</a>
	                        <div class="mp-level">
	                            <h2>Pages</h2>
	                            <a class="mp-back" href="#">Back</a>
	                            <ul>
	                                <li><a href="blog.html">Blog</a></li>
									<li><a href="testimonial.html">Testimonials</a></li>
									<li><a href="shortcode.html">Shortcode</a></li>
									<li><a href="typography.html">Typography</a></li>
									<li><a href="booking-cart.html">Booking Cart</a></li>
									<li><a href="checkout.html">CheckOut</a></li>
									<li><a href="check-available.html">Check Available</a></li>
	                            </ul>
	                        </div>
	                    </li>
	                    <li>
	                        <a href="new-deal.html">News &amp; deals</a>
	                    </li>
	                    <li>
	                        <a href="world-of-flawles.html">World of flawles</a>
	                    </li-->
	                    <li>
	                    	<a href="contact.html">Contact</a>
	                    </li>
	                </ul>
	            </div>
	        </nav>
	        <!-- Menu Responsive End -->

<%= yield %>

<!-- Footer -->
			<footer class="md-footer">
				<div class="container clearfix">
					<div class="grid_3 footer-column">
						<div class="hotel-address">
							<h3>YourVipHost</h3>
							<div class="footer-content">
								<address>
									
									<p>Las Vegas, NV</p>
								</address>
								<p class="website"></p>
							</div>
						</div>
					</div>
					<div class="grid_5 footer-column">
						<div class="hotel-contact">
							<h3>Contact</h3>
							<ul class="footer-content">
								<li>telephone <span class="hotel-number">(702) 465-0467</span></li>
								<li>email <span class="hotel-number">vegasvipregistrations@gmail.com</span></li>
								<li>twitter <span class="hotel-number"><a href="https://twitter.com/yourviphost"> #YourVipHost</a></span></li>
							</ul>
						</div>
					</div>
					<div class="grid_4 footer-column">
						<div class="hotel-news">
							<h3>Newsletter</h3>
							<div class="footer-content">
								<p>Sign up for our newsletter, and we’ll keep you updated on all events at YourVipHost!</p>
								<form>
									<input type="text" placeholder="Your Mail ...">
									<button type="submit" class="btn btn-brown">Send</button>
								</form>
							</div>
						</div>
					</div>
					<div class="grid_12">
						<div class="footer-social">
							<div class="social-inner">
								<h4>Follow us</h4>
								<span class="social-group">
									<!--a href="#"><i class="icon icon-facebook"></i></a-->
									<a href="https://twitter.com/yourviphost"><i class="icon icon-twitter"></i></a>
									<!--a href="#"><i class="icon icon-google"></i></a>
									<a href="#"><i class="icon icon-dribbble"></i></a-->
								</span>
							</div>
						</div>
					</div>
				</div>	
			</footer><!-- /.md-footer -->
		</div><!--/.mp-pusher -->
	</div>
<!-- Library Javascript  -->
<%= javascript_include_tag 'modernizr.custom' %>
<%= javascript_include_tag 'jquery-1.9.1' %>
<%= javascript_include_tag 'jquery-ui-1.10.3' %>

<!-- Responsive Menu Javascript  -->
<%= javascript_include_tag 'classie' %>
<%= javascript_include_tag 'mlpushmenu' %>

<!-- Main Javascript  -->
<%= javascript_include_tag 'script' %>

<!-- Separate Javascript for each page -->	
<!--script type="text/javascript">
	$(function() {
		"use strict";
		$("#arrival-date, #departure-date").datepicker({
			// showOn: "button",
			// buttonImage: "<%= asset_path('calendar.gif') %>",
			// buttonImageOnly: true
		});
	});
</script-->

</body>
</html>
